.body_header {
    background: #def5ff;
    height: 100px;
}
/* Стили панели навигации */
nav {
    background: #f03624;
    height: 70px;
    font-size: 30px;
    font-family: Arial;
    color: white;
    border: 1px;

}
body {
    margin: 0px;
    background: #c7b29b
}
main {
    height: 100px;

    background-size: 100% auto;
}
A:visited {
color: blask;
}

.flash {padding: 10px;}
.flash.success {
    border: 1px solid #21DB35;
    background: #AEFFC5;
}
.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}
.button {
    height:10px;
    line-height: 10px;
    position: absolute;
    right: 0%;
}
ul.list-posts {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
}
ul.list-posts li {
    margin: 20px 0 0 0;
    border: 1px solid #eee;
}
ul.list-posts .title {
    margin: 0;
    padding: 5px;
    background: #eee;
}
ul.list-posts .annonce {
    margin: 0;
    padding: 10px 5px 10px 5px;
}